#Instalar las siguientes librerias
#    Regex
#    Streamlit

#Streamlit lo necesitas para poder ejecutar la pagina web en tu computadora
#Regex es necesario para una funcion de analisis de frecuencias